@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
html, body {
  height: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #ccc;
  }
}
a:link, a:active, a:visited, a:hover {
  text-decoration: none;
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
.headerContainer {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}
//home
.header {
  background-color: #fff;
  padding: 5px 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  & > div:first-child {
    & > :is(a:active, a:visited, a:hover, a:link) {
      color: black;
    }
  }
  & > div {
    display: flex;
    align-items: center;
  }
  & > h2 {
    font-size: 1.2em;
  }
  & > *, & > div > * {
    display: inline-block;
  }
  & img {
    width: 50px;
    vertical-align: middle;
  }
  .searchForm {
    border: 3px solid #FFA000;
    border-radius: 50px;
    overflow: hidden;
    font-size: 1.3em;
    position: relative;
    * {
      margin: 0;
      border: none;
    }
    *:focus {
      outline: none;
    }
    button {
      background-color: #FFA000;
      font-size: 1em;
      padding: 8px 6px;
      padding-left: 10px;
    }
    input {
      width: 400px;
      padding: 8px 9px;
      font-size: 0.8em;
    }
  }
}
.container {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y proximity;
  & > div{
    scroll-snap-align: center;
  }
}
.nav {
  background-color: #FFA000;
  color: #fff;
  padding: 25px 5px;
  text-align: center;
  top: 0;
  &  :is(ul, li) {
    display: inline-block;
  }
  & li {
    margin: 0 30px;
    font-weight: 600;
    font-size: 1.3rem;
  }
  & li:hover {
    cursor: pointer;
    color: rgb(223, 223, 223);
  }
}
//footer
.footer {
  text-align: center;
  display: block;
  width: 100%;
}

//home
.banner {
  width: 100%;
}

.UseongMap {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  padding: 15px 0;
  height: fit-content;
  & > img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.8;
  }
  svg {
    max-height: 500px;
    height: 80%;
  }
  .infoMap {
    margin: 0 40px;
    min-height: 500px;
    min-width: 300px;
    background-color: white;
    border-radius: 15px;
    opacity: 0.9;
    li {
      padding: 3px 20px;
    }
    ul {
      text-align: left;
      list-style: none;
      margin: 5px 0;
    }
    h2 {
      background-color: #FFA000;
      color: white;
      padding: 5px 15px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }
}

.bottomSection {
  background-image: url('https://mblogthumb-phinf.pstatic.net/MjAyMDA2MjJfMjIy/MDAxNTkyODA0NzQ5ODE0.iwc1mZ_SVz3eP_IhEESkyXP6eB0JONGxU2UJbfZ_yNcg.gbZp8MjIRWSHmkxFbLBPYlhe2lcLOBoqUT3QrMh5kIsg.JPEG.postnaeil/%EB%8F%84%EC%8B%9C_%ED%99%A9%ED%98%BC.jpg?type=w800');
  background-size: cover;
  padding: 0 20%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > * {
    opacity: 0.85;
    display: flex;
    justify-content: space-around  ;
    align-items: center;
    & > *{
      padding: 5px;
      background-color: rgba(228, 228, 228, 0.753);
      width: 400px;
      height: 170px;
      border-radius: 8px;
    }
  }
  & > *:last-child > img {
    border-radius: 8px;
    width: 980px;
    margin: 10px auto;
  }
}
